@model IEnumerable<Models.EntityFramework.LOAI_SAN_PHAM>

@if ((int)ViewBag.Count > 0)
{
    <i class="fa fa-angle-right"></i>
    <ul>
        @foreach (var item in Model)
        {
            if (item.TRANG_THAI == true && item.IS_REMOVE == false)
            {
            <li>

                @Html.RouteLink(item.TEN_LOAI_SP, new { controller = "Home", action = "DanhMuc", id = item.SLUG })
                @Html.Action("LoadChilden", "Home", new { parentID = item.ID_LOAI_SP })
            </li>
            }
        }
    </ul>
}
