
@{
    Layout = null;
}

<footer class="footer-wrap">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="companyinfo">
                    <a href="/">
                        <img  src="~/Public/frontEnd/img/logo-shopnhom1.png" alt="Nhóm 1">
                    </a>
                    <h5 class="mt-3" style="margin-top:10px;">Địa Chỉ : Thái Hòa Ba Vì Hà Nội</h5>
                    <h5 class="mt-3" style="margin-top:10px;">Email : Nhom1@gmail.com</h5>
                    <h5 class="mt-3" style="margin-top:10px;">Hotline : 19008198</h5>
                </div>
                <div class="f-block-list">
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-1">
                                <div class="iframe-img">
                                    <img src="~/Public/frontEnd/img/vechungtoi.jpg" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Về chúng tôi</p>
                            <p>Thông tin vận chuyển và thanh toán.</p>
                        </div>
                    </div>
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-2">
                                <div class="iframe-img">
                                    <img src="~/Public/frontEnd/img/cauhoi.jpg" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Hỏi Câu Hỏi</p>
                            <p>
                                Chúng tôi gọi lại trong vòng 10 phút
                            </p>
                        </div>
                    </div>
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-3" data-content="<iframe width='853' height='480' src='https://www.youtube.com/embed/Wbu8WzG8vkM' allowfullscreen></iframe>">
                                <div class="iframe-img">
                                    <img src="~/Public/frontEnd/img/video.png" alt="Video (46s)">
                                  
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Video (46s)</p>
                            <p>Xem video về cửa hàng của chúng tôi</p>
                        </div>
                    </div>
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-4">
                                <div class="iframe-img">
                                    <img src="~/Public/frontEnd/img/map2.jpg" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Địa chỉ của chúng tôi</p>
                            <p>Thái Hòa - Ba Vì - Hà Nội</p>
                        </div>
                    </div>
                </div>

                <div class="stylization f-block-modal f-block-modal-content" id="f-block-modal-1">
                    <img class="f-block-modal-img" src="~/Public/frontEnd/img/vechungtoi.jpg" alt="About us">
                </div>
                <div class="stylization f-block-modal f-block-modal-callback" id="f-block-modal-2">
                    <div class="modalform">
                        <form action="#" method="POST" class="form-validate">
                            <p class="modalform-ttl">Callback</p>
                            <input type="text" placeholder="Your name" data-required="text" name="name">
                            <input type="text" placeholder="Your phone" data-required="text" name="phone">
                            <button type="submit"><i class="fa fa-paper-plane"></i> Send</button>
                        </form>
                    </div>
                </div>
                <div class="stylization f-block-modal f-block-modal-video" id="f-block-modal-3">

                </div>
                <div class="stylization f-block-modal f-block-modal-map" id="f-block-modal-4">
                    <div class="allstore-gmap">
                        <div class="marker" data-zoom="15" data-lat="-37.81485261872975" data-lng="144.95655298233032" data-marker="img/marker.png">534-540 Little Bourke St, Melbourne VIC 3000, Australia</div>
                    </div>
                </div>
                <div class="f-delivery">
                    <img src="img/map.png" alt="">
                    <h4>Free delivery in London</h4>
                    <p>We will deliver within 1 hour</p>
                </div>
            </div>
        </div>
    </div>

  

</footer>
